@import url("./reset.css");
@import url("./tokens.css");

html {
  font-size: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: var(--text-body-weight);
  color: var(--col-text);
  background-color: var(--col-bg);

  min-height: 100vh;
  margin: 0;
  padding: 0 var(--space-16);

  display: grid;

  place-items: center;
}

h3 {
  margin: 0;
  font-size: var(--text-head-size);
  font-weight: var(--text-head-weight);
  line-height: var(--text-head-line-height);
  letter-spacing: var(--text-head-letter-spacing);
  color: var(--col-heading);
}

.card {
  width: min(
    100%,
    var(--card-max-width)
  ); /*100% of available width of the parent.*/
  /* width: 100%;  max-width: 320px; */
  background-color: var(--col-surface);
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-lg);
  margin: auto;
  padding: var(--space-16);
  box-shadow: 0 var(--card-shadow-y) var(--card-shadow-blur) 0px
    rgba(0, 0, 0, 0.0477);
  text-align: center;
}

.card-text {
  margin: 0;
  font-size: var(--text-body-size);
  font-weight: var(--text-body-weight);
  line-height: var(--text-body-line-height);
  letter-spacing: var(--text-body-letter-spacing);
  color: var(--col-text);

  /* text-shadow: 0 var(--shadow-y) var(--shadow-blur)
    rgba(0, 0, 0, var(--shadow-alpha)); */
}

.card-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--radius-sm);
}

.card-body {
  margin: var(--space-24) var(--space-16);
}

.card-title {
  margin-bottom: var(--space-16);
}

.attribution {
  position: fixed;
  top: 0px;
  left: 0px;

  transform-origin: bottom left;
  transform: rotate(90deg) translateX(-10px);

  font-size: var(--text-footnote-size);
  margin: 10px;
}

.attribution a {
  color: var(--col-heading);
}

@media (max-width: 26.8125em) {
  .attribution {
    display: none;
  }

  h1,
  .card-text {
    text-shadow: none;
  }
}
