:root {
  /* Color Scheme */
  --col-bg: hsl(212, 45%, 89%);
  --col-text: hsl(216, 15%, 48%);
  --col-heading: hsl(218, 44%, 22%);
  --col-surface: hsl(0, 0%, 100%);

  /* Typography */
  --text-body-size: 15px;
  --text-body-weight: 400;
  --text-body-line-height: 1.4;
  --text-body-letter-spacing: 0.2px;

  --text-head-size: 22px;
  --text-head-weight: 700;
  --text-head-line-height: 1.2;
  --text-head-letter-spacing: 0px;

  --text-footnote-size: 10px;

  /* Spacing */
  --space-16: 16px;
  --space-24: 24px;

  /* Border radii */
  --radius-sm: 10px;
  --radius-lg: 20px;

  /* Shadow Effects */
  --shadow-y: 4px;
  --shadow-blur: 4px;
  --shadow-alpha: 25%;
}
